<section class="flex items-center justify-center h-screen">
  <div class="border-2 rounded-lg px-8 py-10 w-[468px]">
    <a routerLink="/login" class="block mb-8">{{ "back" | translate }}</a>
    <h1 class="text-3xl mb-2">{{ "reset_password" | translate }}</h1>
    <p>{{ "enter_your_email_to_get_link_reset_password" | translate }}</p>

    <form class="my-16">
      <div>
        <label for="input-label" class="block text-sm font-medium mb-2">
          {{ "email" | translate }}
        </label>
        <input
          formControlName="email"
          type="email"
          id="input-label"
          class="py-3 px-4 block w-full border-2 border-gray-700 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
          placeholder="{{ 'insert_your_email' | translate }}"
        />
      </div>
    </form>

    <button
      type="button"
      class="px-16 py-2 block ltr:ml-auto rtl:mr-auto mb-4 text-center text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
    >
      {{ "send" | translate }}
    </button>
  </div>
</section>
