<section class="flex items-center justify-center h-screen">
  <div class="bg-gradient rounded-[30px] shadow-lg px-8 py-14 w-[795px]">
    <div class="w-[527px] mx-auto">
      <a routerLink="/login" class="block mb-8 text-[24px] text-[#3A6A76]">{{
        "back" | translate
      }}</a>

      <h1 class="text-[64px] font-medium text-[#3A6A76]">
        {{ "reset_password" | translate }}
      </h1>
      <p class="text-[22px] text-[#3A6A76]">
        {{ "enter_your_email_to_get_link_reset_password" | translate }}
      </p>

      <form class="my-16">
        <div class="text-left">
          <label for="input-label" class="block text-md text-gray-600 mb-2">
            {{ "email" | translate }}
          </label>
          <input
            formControlName="email"
            type="email"
            id="input-label"
            class="p-4 block w-full border border-gray-300 rounded-xl text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
          />
        </div>
      </form>

      <button
        type="button"
        class="leading-none font-bold ml-auto flex items-center justify-center py-4 px-10 gap-5 text-[22px] rounded-xl border border-transparent bg-[#3A6A76] text-white hover:bg-blue-700 disabled:opacity-40 disabled:pointer-events-none"
      >
        {{ "send" | translate }}

        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          class="size-6 stroke-[3px] stroke-white"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m8.25 4.5 7.5 7.5-7.5 7.5"
          />
        </svg>
      </button>
    </div>
  </div>
</section>
