<section
  class="py-8 min-h-screen px-4 bg-gradient-to-b from-[#98CBB9]/80 via-[#98CBB9]/90 to-[#98CBB9]"
>
  <div class="w-full flex items-center justify-between mb-14">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="size-7"
    >
      <path
        fill-rule="evenodd"
        d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z"
        clip-rule="evenodd"
      />
    </svg>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="size-7"
    >
      <path
        fill-rule="evenodd"
        d="M2.625 6.75a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0Zm4.875 0A.75.75 0 0 1 8.25 6h12a.75.75 0 0 1 0 1.5h-12a.75.75 0 0 1-.75-.75ZM2.625 12a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0ZM7.5 12a.75.75 0 0 1 .75-.75h12a.75.75 0 0 1 0 1.5h-12A.75.75 0 0 1 7.5 12Zm-4.875 5.25a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0Zm4.875 0a.75.75 0 0 1 .75-.75h12a.75.75 0 0 1 0 1.5h-12a.75.75 0 0 1-.75-.75Z"
        clip-rule="evenodd"
      />
    </svg>
  </div>

  <div
    class="p-4 rounded-xl bg-gradient-to-b from-[#98CBB9] via-[#98CBB9] to-[#98CBB9] bg-opacity-80"
  >
    <h1 class="text-center my-6 text-3xl text-white">My Voyage</h1>

    <ul>
      @for (activity of activities; track activity) {
        <li class="w-full bg-white mb-4 shadow-lg rounded-xl overflow-hidden">
          <a [routerLink]="'/activity/' + activity.id" class="flex">
            <div class="max-w-20 h-auto">
              <img
                [src]="activity.screens.start.backgroundImage"
                alt=""
                class="w-full h-full object-cover"
              />
            </div>
            <div class="p-4 flex flex-col justify-center">
              <p class="font-bold text-[#2B6B87]">
                {{ activity.screens.start.activityTitle }}
              </p>
              <p class="text-[#2B6B87]">Received on Jun 12</p>
            </div>
          </a>
        </li>
      }
    </ul>
  </div>
</section>
