<section>
  <div class="flex items-start">
    <nav class="w-28 -mr-1.5 mt-40">
      <ul class="space-y-4">
        <li
          class="relative bg-[#3A6A76]/40 border-2 border-[#3A6A76] rounded-lg font-bold"
        >
          <a
            routerLink="/dashboard/clients-view"
            class="block w-full px-6 py-2"
          >
            History
          </a>

          <span
            class="absolute -top-4 -left-4 size-8 flex items-center justify-center rounded-full border-[3px] text-lg leading-0 border-[#3A6A76] text-white font-bold bg-[#74AB9A]"
          >
            2
          </span>
        </li>
        <li
          class="bg-[#EBF3F5]/70 border-2 border-[#3A6A76] rounded-lg px-6 py-2 font-bold"
        >
          Timeline
        </li>
        <li
          class="bg-[#3A6A76]/40 border-2 border-[#3A6A76] rounded-lg px-6 py-2 font-bold"
        >
          Profile
        </li>
      </ul>
    </nav>

    <div class="w-full z-10">
      <h1 class="mb-6 text-[50px]">Shmil Avadon</h1>
      <div class="w-full bg-[#EBF3F5] rounded-md p-8">
        <div class="flex items-center justify-between mb-4">
          <label for="show" class="flex items-center gap-4">
            <input type="checkbox" name="" id="show" class="accent-[#3A6A76]" />
            Hide completed activities
          </label>

          <button
            type="button"
            class="text-white rtl:mr-0 rtl:ml-6 text-nowrap bg-[#3A6A76] hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-4 mr-2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 4.5v15m7.5-7.5h-15"
              />
            </svg>

            Assign a Voyage
          </button>
        </div>
        <div class="pb-60 green-gradient">
          @for (item of history; track item) {
            <div
              class="flex items-center border-b-[3px] border-dashed border-[#3A6A76]"
            >
              <div
                class="bg-[#779BA0] self-stretch flex flex-col items-center justify-center text-white text-center text-nowrap px-6"
                [ngClass]="{
                  'bg-gray-600': !item.open,
                }"
              >
                <p>Mon</p>
                <p>14 May</p>
              </div>
              <div
                class="w-full p-1 space-y-2 bg-[#698F96]"
                [ngClass]="{
                  'bg-gray-500': !item.open,
                }"
              >
                @for (timeline of item.timeline; track timeline) {
                  <div class="flex items-center gap-4">
                    <p class="text-nowrap text-white pl-2">
                      {{ timeline.time }}
                    </p>

                    <div
                      class="relative flex items-center w-full border-[#3A6A76] rounded-[10px]"
                      [ngClass]="{
                        'bg-gray-300': !item.open,
                        'bg-white': item.open,
                      }"
                    >
                      <div
                        class="mr-8 w-36 bg-[#F3966B] h-14 rounded-l-lg overflow-hidden"
                        [ngClass]="{
                          'bg-gray-400': !item.open,
                        }"
                      ></div>

                      @if (item.open) {
                        <p class="mr-4">{{ timeline.status }}</p>
                        <p class="italic font-medium">{{ timeline.name }}</p>
                      }

                      <div class="relative flex items-center ml-auto mr-4">
                        <button
                          (click)="toggleDropdown(timeline.id)"
                          class="rounded-full hover:bg-gray-100"
                        >
                          <svg
                            class="w-5 h-5"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"
                            />
                          </svg>
                        </button>
                        @if (activeDropdown === timeline.id) {
                          <div
                            class="absolute right-5 mt-1 bg-white shadow-lg border-[3px] border-[#3A6A76] rounded-xl py-2 text-nowrap z-10"
                          >
                            <button
                              class="w-full px-4 py-2 text-left text-sm hover:bg-gray-100 flex items-center gap-2"
                            >
                              <svg
                                class="w-4 h-4"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                              >
                                <path
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  stroke-width="2"
                                  d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                                />
                                <path
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  stroke-width="2"
                                  d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                                />
                              </svg>
                              Preview
                            </button>
                            <!-- <button -->
                            <!--   class="w-full px-4 py-2 text-left text-sm hover:bg-gray-100 flex items-center gap-2" -->
                            <!-- > -->
                            <!--   <svg -->
                            <!--     class="w-4 h-4" -->
                            <!--     viewBox="0 0 24 24" -->
                            <!--     fill="none" -->
                            <!--     stroke="currentColor" -->
                            <!--   > -->
                            <!--     <path -->
                            <!--       stroke-linecap="round" -->
                            <!--       stroke-linejoin="round" -->
                            <!--       stroke-width="2" -->
                            <!--       d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" -->
                            <!--     /> -->
                            <!--   </svg> -->
                            <!--   Download Results -->
                            <!-- </button> -->
                          </div>
                        }
                      </div>
                    </div>
                  </div>
                }
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</section>
