<section (click)="hideClientOptions(); $event.stopPropagation()">
  <h1 class="mb-6 text-2xl">{{ "my_clients" | translate }}</h1>
  <div class="flex items-center justify-between mb-6">
    <button
      type="button"
      class="text-white mr-6 rtl:mr-0 rtl:ml-6 text-nowrap bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="size-4 me-2"
      >
        <path
          fill-rule="evenodd"
          d="M19.916 4.626a.75.75 0 0 1 .208 1.04l-9 13.5a.75.75 0 0 1-1.154.114l-6-6a.75.75 0 0 1 1.06-1.06l5.353 5.353 8.493-12.74a.75.75 0 0 1 1.04-.207Z"
          clip-rule="evenodd"
        />
      </svg>
      {{ "add_client" | translate }}
    </button>

    <div class="relative w-full">
      <div
        class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
      >
        <svg
          class="w-4 h-4 text-gray-500 dark:text-gray-400"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 20 20"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
          />
        </svg>
      </div>
      <input
        #criteria
        (keyup)="searchClients(criteria.value)"
        type="search"
        class="block w-full px-5 py-2.5 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Search clients..."
      />
    </div>
  </div>

  <div class="shadow-md sm:rounded-lg overflow-x-scroll sm:overflow-x-visible">
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    >
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th class="px-6 py-3">
            <div class="flex items-center space-x-2">
              <span>{{ "name" | translate }}</span>

              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                class="size-4 stroke-blue-400"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3"
                />
              </svg>
            </div>
          </th>

          <th class="px-6 py-3">
            <div class="flex items-center space-x-2">
              <span>{{ "last_action" | translate }}</span>

              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3 7.5 7.5 3m0 0L12 7.5M7.5 3v13.5m13.5 0L16.5 21m0 0L12 16.5m4.5 4.5V7.5"
                />
              </svg>
            </div>
          </th>
          <th class="px-6 py-3">
            <div class="flex items-center space-x-2">
              <span>{{ "activities_done" | translate }}</span>

              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3 7.5 7.5 3m0 0L12 7.5M7.5 3v13.5m13.5 0L16.5 21m0 0L12 16.5m4.5 4.5V7.5"
                />
              </svg>
            </div>
          </th>
          <th class="px-6 py-3">
            <div class="flex items-center space-x-2">
              <span>{{ "added" | translate }}</span>

              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3 7.5 7.5 3m0 0L12 7.5M7.5 3v13.5m13.5 0L16.5 21m0 0L12 16.5m4.5 4.5V7.5"
                />
              </svg>
            </div>
          </th>

          <th class="px-6 py-3"></th>
        </tr>
      </thead>
      <tbody>
        @for (client of clientsCopy; track client) {
          <tr
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
          >
            <td class="px-6 py-4 w-72">
              <div class="flex items-center">
                <div
                  class="size-10 rounded-full overflow-hidden mr-6 rtl:ml-6 rtl:mr-0"
                >
                  <img [src]="client.avatar" alt="" />
                </div>
                <span class="font-bold">{{ client.name }}</span>
              </div>
            </td>
            <td class="px-6 py-4">
              <p class="font-bold">{{ client.last_action }}</p>
              <p>{{ client.action }}</p>
            </td>
            <td class="px-6 py-4">{{ client.activities_done }}</td>

            <td class="px-6 py-4">{{ client.added }}</td>

            <td class="px-3 py-4">
              <div class="relative flex">
                <button
                  (click)="$event.stopPropagation(); showClientOptions(client)"
                  class="ml-auto rtl:mr-auto rtl:ml-0"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="size-8"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10.5 6a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0Zm0 6a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0Zm0 6a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0Z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </button>

                @if (client.expanded) {
                  <div
                    class="absolute -top-2 right-[1.8rem] rtl:-right-[6.5rem] z-50 bg-white rounded-lg shadow-md border dark:bg-gray-700 dark:divide-gray-600"
                  >
                    <ul class="py-2 text-gray-700 dark:text-gray-200">
                      @for (option of clientOptions; track option) {
                        <li
                          class="cursor-pointer px-7 py-3 text-nowrap hover:bg-gray-100"
                        >
                          {{ option | translate }}
                        </li>
                      }
                    </ul>
                  </div>
                }
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</section>
