<section class="flex items-center justify-center h-screen">
  <div class="border-2 rounded-lg px-8 py-10 w-[468px]">
    <h1 class="text-3xl mb-6">{{ "sign_up" | translate }}</h1>
    <p class="mb-8">
      {{ "already_got_an_account" | translate }}
      <a routerLink="/login" class="text-blue-500">{{
        "log_in" | translate
      }}</a>
    </p>

    <button
      type="button"
      class="py-2 w-full mb-10 text-center px-3 gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
    >
      {{ "sign_up_with_google" | translate }}
    </button>

    <form class="space-y-8">
      <div>
        <label for="input-label" class="block text-sm font-medium mb-2">
          {{ "email" | translate }}
        </label>
        <input
          formControlName="email"
          type="email"
          id="input-label"
          class="py-3 px-4 block w-full border-2 border-gray-700 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
          placeholder="{{ 'insert_your_email' | translate }}"
        />
      </div>

      <div>
        <label
          for="input-label"
          class="block text-sm font-medium mb-2 dark:text-white"
        >
          {{ "password" | translate }}
        </label>
        <input
          formControlName="password"
          type="password"
          id="input-label"
          class="py-3 px-4 border-2 border-gray-700 block w-full rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600"
          placeholder="{{ 'insert_your_password' | translate }}"
        />
      </div>

      <div>
        <label
          for="input-label"
          class="block text-sm font-medium mb-2 dark:text-white"
        >
          {{ "retype_password" | translate }}
        </label>
        <input
          formControlName="password"
          type="password"
          id="input-label"
          class="py-3 px-4 border-2 border-gray-700 block w-full rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600"
          placeholder="{{ 'insert_your_password' | translate }}"
        />
      </div>
    </form>

    <button
      type="button"
      class="px-16 py-2 block ltr:ml-auto rtl:mr-auto mt-6 mb-4 text-center text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
    >
      {{ "continue" | translate }}
    </button>

    <p>
      {{ "by_signing_up_you_agree_to_terms_of_use" | translate }}
      <a routerLink="/terms-of-use" class="text-blue-500">{{
        "terms_of_use" | translate
      }}</a>
    </p>
  </div>
</section>
