<div class="container mx-auto py-10">
  <h1 class="text-2xl mb-10">Terms of Use</h1>

  <p class="mb-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
    voluptatum temporibus accusantium ex architecto iusto delectus, inventore
    reprehenderit vero nulla hic, dolorum ducimus totam ratione repellat ullam
    quisquam veniam corrupti? Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Suscipit aspernatur atque amet quibusdam error reiciendis odit
    incidunt fugiat? Labore sit ipsa ipsam modi, dolorum quo nostrum earum
    magnam cupiditate voluptas! Lorem, ipsum dolor sit amet consectetur
    adipisicing elit. Ab facilis eos, vero, ipsam doloribus eligendi enim velit
    nemo eaque soluta, commodi at a ipsum quidem numquam aliquam voluptatem
    sequi! Voluptates!
  </p>

  <p class="mb-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
    voluptatum temporibus accusantium ex architecto iusto delectus, inventore
    reprehenderit vero nulla hic, dolorum ducimus totam ratione repellat ullam
    quisquam veniam corrupti? Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Suscipit aspernatur atque amet quibusdam error reiciendis odit
    incidunt fugiat? Labore sit ipsa ipsam modi, dolorum quo nostrum earum
    magnam cupiditate voluptas! Lorem, ipsum dolor sit amet consectetur
    adipisicing elit. Ab facilis eos, vero, ipsam doloribus eligendi enim velit
    nemo eaque soluta, commodi at a ipsum quidem numquam aliquam voluptatem
    sequi! Voluptates!
  </p>

  <p class="mb-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
    voluptatum temporibus accusantium ex architecto iusto delectus, inventore
    reprehenderit vero nulla hic, dolorum ducimus totam ratione repellat ullam
    quisquam veniam corrupti? Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Suscipit aspernatur atque amet quibusdam error reiciendis odit
    incidunt fugiat? Labore sit ipsa ipsam modi, dolorum quo nostrum earum
    magnam cupiditate voluptas! Lorem, ipsum dolor sit amet consectetur
    adipisicing elit. Ab facilis eos, vero, ipsam doloribus eligendi enim velit
    nemo eaque soluta, commodi at a ipsum quidem numquam aliquam voluptatem
    sequi! Voluptates!
  </p>
  <p class="mb-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
    voluptatum temporibus accusantium ex architecto iusto delectus, inventore
    reprehenderit vero nulla hic, dolorum ducimus totam ratione repellat ullam
    quisquam veniam corrupti? Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Suscipit aspernatur atque amet quibusdam error reiciendis odit
    incidunt fugiat? Labore sit ipsa ipsam modi, dolorum quo nostrum earum
    magnam cupiditate voluptas! Lorem, ipsum dolor sit amet consectetur
    adipisicing elit. Ab facilis eos, vero, ipsam doloribus eligendi enim velit
    nemo eaque soluta, commodi at a ipsum quidem numquam aliquam voluptatem
    sequi! Voluptates!
  </p>
  <p class="mb-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
    voluptatum temporibus accusantium ex architecto iusto delectus, inventore
    reprehenderit vero nulla hic, dolorum ducimus totam ratione repellat ullam
    quisquam veniam corrupti? Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Suscipit aspernatur atque amet quibusdam error reiciendis odit
    incidunt fugiat? Labore sit ipsa ipsam modi, dolorum quo nostrum earum
    magnam cupiditate voluptas! Lorem, ipsum dolor sit amet consectetur
    adipisicing elit. Ab facilis eos, vero, ipsam doloribus eligendi enim velit
    nemo eaque soluta, commodi at a ipsum quidem numquam aliquam voluptatem
    sequi! Voluptates!
  </p>
</div>
