@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Roboto;
}

.main-gradient {
  background: linear-gradient(
    360deg,
    #3a6a76 -44.92%,
    rgba(58, 106, 118, 0.990454) -20.84%,
    rgba(58, 106, 118, 0.963402) -0.49%,
    rgba(58, 106, 118, 0.92122) 16.55%,
    rgba(58, 106, 118, 0.866285) 30.68%,
    rgba(58, 106, 118, 0.800973) 42.31%,
    rgba(58, 106, 118, 0.727661) 51.87%,
    rgba(58, 106, 118, 0.648726) 59.76%,
    rgba(58, 106, 118, 0.566544) 66.4%,
    rgba(58, 106, 118, 0.483492) 72.21%,
    rgba(58, 106, 118, 0.401946) 77.58%,
    rgba(58, 106, 118, 0.324284) 82.94%,
    rgba(58, 106, 118, 0.252882) 88.7%,
    rgba(58, 106, 118, 0.190116) 95.28%,
    rgba(58, 106, 118, 0.138363) 103.08%,
    rgba(58, 106, 118, 0.1) 112.53%
  );
}

.bg-gradient {
  background: linear-gradient(
    360deg,
    #3a6a76 -41.13%,
    #abc0c5 -24.36%,
    #cfdbde 4.96%,
    #ebf0f1 31.05%,
    #fafbfb 57.26%,
    #ffffff 122.21%
  );
}
