<section (click)="hideUpdateOptions(); $event.stopPropagation()">
  <h1 class="mb-6 text-[50px]">
    {{ "welcome_back" | translate }}
  </h1>
  <div class="flex items-center justify-between mb-6">
    <p class="text-[20px]">{{ "latest_updates" | translate }}</p>
    <button
      type="button"
      class="ml-auto rtl:mr-auto rtl:ml-0 bg-white hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-xl text-sm px-5 py-2.5 border-[#3A6A76] border-2 text-center inline-flex items-center me-2"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="size-6 stroke-2 me-2"
      >
        <path
          fill-rule="evenodd"
          d="M19.916 4.626a.75.75 0 0 1 .208 1.04l-9 13.5a.75.75 0 0 1-1.154.114l-6-6a.75.75 0 0 1 1.06-1.06l5.353 5.353 8.493-12.74a.75.75 0 0 1 1.04-.207Z"
          clip-rule="evenodd"
        />
      </svg>
      {{ "mark_all_as_read" | translate }}
    </button>
  </div>

  <div class="shadow-md sm:rounded-lg overflow-x-scroll sm:overflow-x-visible">
    <div class="w-full p-8 rounded-md text-left rtl:text-right bg-[#EBF3F5]">
      @for (update of updates; track update) {
        <div class="flex items-center mb-4">
          <span class="font-bold text-nowrap">{{ "date" | translate }}</span>
          <div
            class="flex items-center w-full bg-white rounded-xl border-2 border-[#3A6A76] px-4 py-2 ml-4"
          >
            <div
              class="size-10 rounded-full overflow-hidden mr-6 rtl:ml-6 rtl:mr-0"
            >
              <img
                src="https://pbs.twimg.com/media/FjU2lkcWYAgNG6d.jpg"
                alt=""
              />
            </div>

            <p class="font-bold mr-2">
              {{ update.user }}
            </p>

            <p class="mr-2 italic">
              {{ "completed" | translate }}
            </p>
            <p>
              {{ update.title }}
            </p>

            <div class="ml-auto relative flex">
              <button
                (click)="$event.stopPropagation(); showUpdateOptions(update)"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="size-8"
                >
                  <path
                    fill-rule="evenodd"
                    d="M10.5 6a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0Zm0 6a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0Zm0 6a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0Z"
                    clip-rule="evenodd"
                  />
                </svg>
              </button>

              @if (update.expanded) {
                <div
                  class="absolute -top-2 right-[1.8rem] rtl:-right-[2.4rem] z-50 bg-white rounded-xl shadow-xl border-2 border-[#3A6A76]"
                >
                  <ul class="py-2">
                    @for (option of updateOptions; track option) {
                      <li
                        class="flex items-center gap-4 cursor-pointer px-7 py-3 text-nowrap hover:bg-gray-100"
                      >
                        <!-- <svg -->
                        <!--   xmlns="http://www.w3.org/2000/svg" -->
                        <!--   fill="none" -->
                        <!--   viewBox="0 0 24 24" -->
                        <!--   stroke-width="1.5" -->
                        <!--   stroke="currentColor" -->
                        <!--   class="size-6" -->
                        <!-- > -->
                        <!--   <path -->
                        <!--     stroke-linecap="round" -->
                        <!--     stroke-linejoin="round" -->
                        <!--     d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" -->
                        <!--   /> -->
                        <!--   <path -->
                        <!--     stroke-linecap="round" -->
                        <!--     stroke-linejoin="round" -->
                        <!--     d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" -->
                        <!--   /> -->
                        <!-- </svg> -->
                        {{ option | translate }}
                      </li>
                    }
                  </ul>
                </div>
              }
            </div>
          </div>
        </div>
      }
    </div>
    <table class="hidden w-full text-sm text-left rtl:text-right bg-[#EBF3F5]">
      <tbody>
        @for (update of updates; track update) {
          <tr>
            <td class="px-6 py-4 w-48">
              {{ "date" | translate }}
            </td>
            <td class="px-6 py-4 w-72">
              <div class="flex items-center">
                <div
                  class="size-10 rounded-full overflow-hidden mr-6 rtl:ml-6 rtl:mr-0"
                >
                  <img
                    src="https://pbs.twimg.com/media/FjU2lkcWYAgNG6d.jpg"
                    alt=""
                  />
                </div>

                <span class="font-bold">Shmil Avadon</span>
              </div>
            </td>
            <td class="px-6 py-4 w-20">
              <span
                class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300"
                >{{ "completed" | translate }}</span
              >
            </td>
            <td class="px-6 py-4">The Path of the Octopus</td>

            <td class="px-3 py-4">
              <div class="relative flex">
                <button
                  (click)="$event.stopPropagation(); showUpdateOptions(update)"
                  class="ml-auto rtl:mr-auto rtl:ml-0"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="size-8"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10.5 6a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0Zm0 6a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0Zm0 6a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0Z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </button>

                @if (update.expanded) {
                  <div
                    class="absolute -top-2 right-[1.8rem] rtl:-right-[2.4rem] z-50 bg-white rounded-lg shadow-md border dark:bg-gray-700 dark:divide-gray-600"
                  >
                    <ul class="py-2 text-gray-700 dark:text-gray-200">
                      @for (option of updateOptions; track option) {
                        <li
                          class="cursor-pointer px-7 py-3 text-nowrap hover:bg-gray-100"
                        >
                          {{ option | translate }}
                        </li>
                      }
                    </ul>
                  </div>
                }
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</section>
